
body {
  margin: 0;
  font-family: sans-serif;
  background-color: #000;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header, footer {
  text-align: center;
  padding: 1rem;
  font-size: 1.5rem;
  background-color: #111;
}

footer a {
  color: #ccc;
  text-decoration: none;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.qr-section, .text-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-section {
  background-color: #FFFFFF;
}

.text-section {
  background-color: #000;
}

#editor {
  width: 90%;
  height: 90%;
  background: #111;
  color: #fff;
  border: none;
  resize: none;
  font-size: 2rem;
  padding: 1rem;
}
